/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 1em;
}

p {
  padding-bottom: 0.5em;
}

/* Global */
:root {
  --color-primary: rgb(245, 230, 177);
  --color-primary-1: rgb(5, 2, 96);
  --color-primary-card-front: rgb(232, 81, 68);
  --color-primary-card-back: rgb(0, 128, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: var(--color-primary);
  background-color: var(--color-primary-1);
}

/* Layout */
/*  If we have some   */

/* Components */

.main {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards_container {
  display: flex;
  justify-content: space-evenly;
}
.card-front {
  width: 8em;
  height: 12em;
  background-color: var(--color-primary-card-front);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Style for card-back*/
.card-back {
  background-color: var(--color-primary-card-back);
}
