/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

:root {
  --color-primary: #ff3b30;
  --color-secondary: #02763c;
  --color-bg: #008844;
  --color-tertiary: #ffd630;
}

h3 {
  color: var(--color-tertiary);
  margin: 1.5em 0 0.5em;
}

/* Global */
body {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
}

button {
  width: 176px;
  height: 56px;
  border-radius: 76px;
  border: 0;
  background: var(--color-secondary);
  font-size: 20px;
}

.button_difficulty {
  width: 150px;
  height: 50px;
  border-radius: 76px;
  border: 0;
  background: var(--color-secondary);
  font-size: 20px;
}

button:hover {
  box-shadow: 0px 7px 6px 0px rgba(0, 98, 40, 0.25) inset;
}

input {
  background: none;
  border: none;
  height: 56px;
  padding: 1rem;
  outline: none;
}

select {
  background: none;
  border: none;
  margin-right: 1rem;
  font-size: 24px;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background: var(--color-secondary);
  border-radius: 76px;
  padding: 1rem;
  width: 80%;
  margin: 3rem auto 0 auto;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

/* Layout */

.container-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.container-header span {
  color: var(--color-tertiary);
}
.button-start {
  background: var(--color-primary);
  margin-right: 1rem;
}
.button-start:hover {
  box-shadow: 0px 7px 6px 0px rgba(99, 29, 25, 0.25) inset;
}

.button-off {
  pointer-events: none;
}

.container__hearts {
  max-height: 56px;
}

.container__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container__input {
  background: var(--color-secondary);
  position: absolute;
  left: 10%;
  top: 24%;
  height: 411px;
  width: 59vw;
  border-radius: 1.5rem;
  z-index: 7;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0.954px 9.54px 9.54px 0px rgba(57, 55, 75, 0.1);
}

.difficulty_button_container {
  display: flex;
  width: 40vw;
  align-self: center;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 1300px) {
  .container__input {
    width: 75vw;
    height: 75vh;
    top: auto;
    left: auto;
  }
}

.small__container {
  background: var(--color-secondary);
  height: 300px;
  padding: 1rem;
  float: right;
  border-radius: 16px;
  box-shadow: 1.377px 13.774px 13.774px 0px rgba(57, 55, 75, 0.1);
}

.small__container h2 {
  border-bottom: 3px solid white;
  padding: 0rem 0rem 0.5rem 0.5rem;
  border-radius: 2px;
}

.container__gameinfo {
  width: 200px;
  overflow-y: hidden;
}

#game__info {
  padding: 1rem;
}

#game__info span {
  display: block;
  padding-bottom: 1rem;
}

.gameInfo-correct {
  font-weight: 500;
  color: #ffe330;
  padding-bottom: 1rem;
}

.gameInfo-rounds {
  padding-bottom: 1rem;
}

.container__card-score {
  width: 200px;
}

.hide-input {
  display: none;
}

.game-over {
  flex-direction: column;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  height: 64vh;
  width: 80vw;
  border-radius: 1.5rem;
  background: var(--color-secondary);
  font-weight: 400;
  font-size: 24px;
  z-index: 100;
  display: none;
  box-shadow: 0.954px 9.54px 9.54px 0px rgba(57, 55, 75, 0.1);
}

.game-over__text,
h3 {
  font-size: 2rem;
  font-weight: 500;
}

.score,
#azimuth,
#elevation {
  font-weight: 300;
  text-align: center;
}

.restart__button {
  background-color: var(--color-primary);
  margin-top: 2rem;
}

.input-player {
  border-bottom: 3px solid white;
  color: #0a4e14;
  font-weight: 400;
  font-size: 24px;
  margin-right: 2rem;
}

.input-player::placeholder {
  color: #0a4e14;
  font-weight: 400;
  font-size: 24px;
}

.container__input > button {
  background-color: #006c32;
  font-size: 20px;
  width: 140px;
}

.container__cards {
  position: relative;
  height: 300px;
  width: 650px;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transition: translate 250ms linear, transform 500ms ease-out;
  border-radius: 1.5rem;
}

.button-off {
  pointer-events: none;
  color: #d6514a;
  background-color: #9c3832;
  box-shadow: 0px 7px 6px 0px rgba(0, 98, 40, 0.25) inset;
}

.button-off-difficulty {
  pointer-events: none;
  color: #b5b5b5;
  background-color: #0f7341;
  box-shadow: 0px 7px 6px 0px rgba(0, 98, 40, 0.25) inset;
}

.button-off-difficulty-selected {
  pointer-events: none;
  color: #b5b5b5;
  background-color: #0c5b33;
  box-shadow: 0px 7px 6px 0px rgba(0, 98, 40, 0.25) inset;
}

.shuffle-in-progress {
  pointer-events: none;
}

.card__front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 1.5rem;
  box-shadow: 1.141px 11.406px 11.406px 0px rgba(57, 55, 75, 0.1);
}

.card__back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: visible;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 1.141px 11.406px 11.406px 0px rgba(57, 55, 75, 0.1);
}

.card--sun .card__front {
  background-image: url(./media/card__front--sun.svg);
  background-color: var(--color-tertiary);
}

.card--rain .card__front {
  background-image: url(./media/card__front--rain.svg);
  background-color: rgb(23, 0, 128);
}

.card--snow .card__front {
  background-image: url(./media/card__front--snow.svg);
  background-color: rgb(0, 242, 255);
}

.card--flipped {
  transform: rotateY(180deg);
}

/* this class from JS to rotate the card  */
.flipCard {
  transform: rotateY(180deg);
}

/* LEADERBOARD STYLE  */

.leaderBoard-li {
  margin: 0.5rem 0;
}

.leaderBoard-icon {
  margin-right: 0.5rem;
}

.leaderBoard-name {
  margin-right: 2rem;
}

.leaderBoard-score {
  font-weight: 700;
  float: right;
}
